@media (max-width: 1000px) {

  /* page */

  .section-title(@number) {
    margin-bottom: 25px;
  }

  /* header */

  .header {
    padding: 40px 0;
    .logo {
      img {
        width: 180px;
      }
    }
  }

  /* main */

  .main {
    margin-bottom: 90px;
    .order-info-wrapper {
      display: block;
      margin-bottom: 50px;
      .order-info {
        width: 100%;
        border-right: 0;
        border-bottom: 2px solid #c9d0e1;
      }
      .contacts {
        width: 100%;
      }
    }
    .what-to-translate {
      margin-bottom: 50px;
      .title {
        padding: 0 5px 5px;
        margin: 0 0 40px;
        letter-spacing: 2px;
        font-size: 18px;
      }
      ul li {
        width: 28%;
        .custom-radio {
          padding: 20px 0;
        }
      }
    }
    .upload-documents {
      width: 80%;
      margin-bottom: 50px;
      .title {
        .section-title('1');
      }
      .upload-button {
        padding: 10px 20px;
        margin-bottom: 30px;
        font-size: 16px;
      }
      .files-list table {
        td:nth-child(3), th:nth-child(3) {
          display: none;
        }
      }
    }
  }

  /* footer */

  .footer {
    padding: 60px 0;
    .what-we-do, .main-office, .connect {
      width: 200px;
    }
    .logo {
      display: none;
    }
  }

}

@media (max-width: 700px) {

  /* page */

  .section-title(@number) {
    font-size: 18px;
    margin-bottom: 15px;
    padding-left: 35px;
    span {
      display: block;
      font-size: 12px;
      margin-left: 0;
    }
    &:before {
      left: 0px;
      width: 20px;
      height: 20px;
      font-size: 10px;
    }
  }

  /* header */

  .header {
    padding: 30px 0;
    .back, .sign-in {
      padding: 10px 0;
      width: 130px;
      font-size: 14px;
      i {
        margin-right: 7px;
      }
    }
    .logo {
      img {
        width: 100px;
      }
    }
  }

  /* main */

  .main {
    margin-bottom: 70px;
    .order-info-wrapper {
      margin-bottom: 40px;
      .order-info {
        display: block;
        .your-order {
          width: 100%;
          margin-bottom: 25px;
        }
        .order-actions {
          width: 100%;
        }
      }
    }
    .what-to-translate {
      margin-bottom: 40px;
      .title {
        margin: 0 0 20px;
        letter-spacing: 1px;
        font-size: 16px;
      }
      ul li {
        width: 28%;
        .custom-radio {
          padding: 10px 0;
          span {
            font-size: 14px;
          }
          .checked-label {
            width: 20px;
            height: 20px;
            font-size: 12px;
          }
          &:before {
            top: -3px;
            left: -3px;
            border: 3px solid #76a7e1;
          }
        }
      }
    }
    .upload-documents {
      width: 90%;
      margin-bottom: 40px;
      .title {
        .section-title('1');
      }
      .upload-button {
        display: inline-block;
        padding: 10px 15px;
        margin-bottom: 20px;
        font-size: 14px;
      }
      .files-list table {
        td:nth-child(2), th:nth-child(2) {
          display: none;
        }
        th {
          padding: 15px 0;
          font-size: 14px;
          letter-spacing: 0;
        }
        td {
          padding: 10px 0;
          font-size: 14px;
        }
      }
    }
  }

  /* footer */

  .footer {
    padding: 40px 0;
    .wrapper {
      display: block;
    }
    .what-we-do, .main-office, .connect {
      width: 100%;
      margin-bottom: 30px;
    }
    .connect {
      margin-bottom: 0;
    }
  }

}

@media (max-width: 500px) {

  /* page */

  .section-title(@number) {
    font-size: 16px;
  }

  /* header */

  .header {
    padding: 20px 0;
    .back, .sign-in {
      padding: 7px 0;
      width: 90px;
      font-size: 11px;
      i {
        margin-right: 5px;
      }
    }
    .logo {
      img {
        width: 70px;
      }
    }
  }

  /* main */

  .main {
    margin-bottom: 50px;
    .order-info-wrapper {
      margin-bottom: 30px;
      .order-info {
        .your-order {
          margin-bottom: 20px;
          .title {
            margin-bottom: 20px;
            i {
              margin-right: 5px;
            }
          }
          ul {
            display: block;
            li {
              width: 100%;
              margin-bottom: 15px;
              &:last-child {
                margin-bottom: 0;
              }
              .head {
                margin-bottom: 2px;
              }
            }
          }
        }
      }
    }
    .what-to-translate {
      margin-bottom: 30px;
      .title {
        margin: 0 0 20px;
        border-bottom: 0;
        padding: 0 5%;
      }
      ul {
        display: block;
        li {
          width: 80%;
          margin: 0 auto 10px;
          .custom-radio {
            padding: 15px 0;
            img {
              max-width: 50px;
              margin-bottom: 10px;
            }
          }
        }
      }
    }
    .upload-documents {
      margin-bottom: 30px;
      .title {
        .section-title('1');
      }
      .files-list table {
        th {
          padding: 10px 0;
          font-size: 12px;
        }
        td {
          padding: 5px 0;
          font-size: 12px;
        }
      }
    }
  }

}
